# ignore all
/*
/.*

# managed
!/analysis
!/conf
!/hist
!/macro
!/prm
!/src-get
!/src-parquet
!/steering
!.gitignore
!artemislogon.C.in
!artlogin.sh
!mapper.conf
!README.md
!setbldprm.sh
!thisartemis-oedo.sh.in

# ignore extensions
*~
*.o
*.so
*.d
*dict.cc
*.pcm
*#
*.root
*.ps
*.pdf
*.parquet
*.swp
*.swo