*~
*.o
*.so
*.d
*dict.cc
*.pcm
*#
src/1l
src/compile.log
.vncdisplay
output
ridf
figs
*.root
*.ps
*.pdf
.root_hist
current/
share
s0test
build/
install/
artemislogon.C
thisartemis-oedo.sh
.vscode/launch.json
.display
/getdata/
*.swp
*.swo